<style>
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 100px;
    height: 100px;
  }
  h1,
  p {
    font-family: Avenir;
  }
</style>


<section>
  <img src="" alt="logo">
  <h1>Confirmation Email</h1>
  <br>
  <p>Estimado,</p>
<br>
<p>...</p>
<p>..</p>
<br>
<br>
<h2>¡Da click sobre la imagen para confirmar tu cuenta!</h2>
  <a href="{{endpoint}}"><img src="https://static.wixstatic.com/media/0096a4_9a5be5aab2ea45df80eaece808d63cd2.png/v1/fill/w_560,h_186,al_c,q_85,usm_0.66_1.00_0.01/0096a4_9a5be5aab2ea45df80eaece808d63cd2.webp" alt="ingresa"></a>
</section>