<style>
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  img {
    width: 100px;
    height: 100px;
  }
  h1,
  p {
    font-family: Avenir;
  }
</style>


<section>
  <img src="" alt="logo">
  <h1>Confirmation Email</h1>
  <br>
  <p>Bienvenido,</p>
<br>
<p>Aprende de la mano de los mejores. Clases para toda la familia; clases de natación para bebés, mamás embarazadas, niños, jóvenes y adultos. Sé parte de un estilo de vida más sano, competitivo y féliz..</p>
<p>..</p>
<br>
<br>
<h2>¡Da click sobre la imagen para confirmar tu cuenta!</h2>
  <a href="{{endpoint}}"><img src="/images/piscinaolimpica1.jpg" alt="ingresa"></a>
</section>